main.list {
  margin: 0 25%;

  @media #{$phone-portrait} {
    margin: 0px 5%;
  }

  & > article {
    & > div.title {
      font-family: $roboto-condensed;
      font-size: 40px;
      font-weight: bolder;
      line-height: 48px;
    }

    & > div.tags {
      font-family: $roboto-condensed;
      font-size: 16px;
      line-height: 20px;
    }
  }
}