main.list {
  display: grid;
  grid-row-gap: 50px;
  margin: 0 25%;
  height: max-content;

  @media #{$phone-portrait} {
    grid-row-gap: 35px;
    margin: -10% 5% 0;
  }

  & > div.pagination {
    color: $black-04;
    display: grid;
    font-family: $roboto-condensed;
    font-size: 16px;
    grid-gap: 10px;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    line-height: 28px;


    & > span.current {
      color: $black;
    }
    & > span.page > span {
        color: $black;
        font-weight: bolder;
    }

    & > a.nav {
      font-weight: bolder;
      &.active {
        border-bottom: solid 2px $red;
        color: $black;
      }
    }
  }
}