main.list {
  display: grid;
  grid-row-gap: 50px;
  margin: 0 20%;
  height: max-content;

  @media #{$phone-portrait} {
    grid-row-gap: 35px;
    margin: -10% 5% 0;
  }

  & > div.pagination {
    color: $black-0675;
    display: grid;
    font-family: $roboto-condensed;
    grid-gap: 10px;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;

    & > span.current {
      color: $black;
    }
  }
}