@import "_colors.scss";
@import "_fonts.scss";

main.not-found {
  align-items: center;
  display: flex;
  font-family: $roboto-condensed;
  font-size: 120px;
  font-weight: bolder;
  justify-content: center;
}