@import "_colors.scss";
@import "_fonts.scss";
@import "_media-queries.scss";

main.single {
  margin: 0 20%;

  @media #{$phone-portrait} {
    grid-row-gap: 35px;
    margin: -10% 5% 0;
  }

  & > h1.title {
    font-family: $roboto-condensed;
    font-size: 40px;
    font-weight: bolder;
    line-height: 48px;
    margin-top: 0;

    @media #{$phone-portrait} {
      font-size: 28px;
      line-height: 32px;
    }
  }
  
  & > h2.subtitle {
    font-family: $roboto-condensed;
    font-size: 32px;
    font-weight: bolder;
    line-height: 38px;

    @media #{$phone-portrait} {
      font-size: 24px;
      line-height: 28px;
    }
  }

  & > div.metadata { 
    display: grid;
    font-family: $roboto-condensed;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    width: max-content;

    @media #{$phone-portrait} {
      grid-column-gap: 5px;
    }

    & > a.category {
      font-style: italic;
      font-weight: bolder;
    }

    & span.middot { font-weight: bolder }
  }

  & > div#content {
    display: grid;
    margin-top: 20px;
    max-width: 100%;

    & p, li {
      font-size: 20px;
      line-height: 40px;

      @media #{$phone-portrait} {
        font-size: 18px;
        line-height: 32px;
      }

      & code {
        border-radius: 5px;
        background-color: $red-01;
        font-family: $fira;
        padding: 5px;
      }
    }

    & a.link {
      color: $red;

      &:hover { text-decoration: underline }
    }

    & blockquote {
      background-color: $black-01;
      border-left: solid 3px $red;
      font-style: italic;
      margin: 0;
      padding-block-end: 1em;
      padding-block-start: 1em;
      padding-inline-end: 40px;
      padding-inline-start: 40px;
    }

    & h2 {
      font-family: $roboto-condensed;
      font-size: 32px;
      font-weight: bolder;
      line-height: 38px;

      @media #{$phone-portrait} {
        font-size: 24px;
        line-height: 28px;
      }
    }

    & > pre,code,div.gist,div.highlight { overflow-x: auto }

    & > div.highlight {
      border: solid 1px $black-02;
      border-radius: 6px;
      display: flex;
      padding-left: 7.5px;

      & :nth-child(1) {
        flex: 1;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar { display: none }
      }

      & > div.copy-button {
        font-family: $roboto-condensed;
        height: max-content;
        padding: 15px;
        text-align: center;
        width: 7ch;

        & > span#copy { cursor: pointer }
      }

      & code {
        font-family: $fira;
        font-size: 12px;
        line-height: 18px;
        margin-right: 10px;
      }
    }

    & > figure {
      margin: 0;
      padding: 0;

      & > figcaption {
        color: $black-0675;
        font-family: $roboto-condensed;
        font-style: italic;
        text-align: center;
      }
    }
  }

  & > div.separator {
    display: grid;
    font-family: $fira;
    font-size: 20px;
    font-weight: bolder;
    grid-auto-flow: column;
    grid-gap: 1em;
    justify-content: center;
    line-height: 40px;
    user-select: none;
  }

  & > div.related {
    display: grid;

    & > a {
      width: max-content;
    }
  }

  & > div.support-me {
    font-size: 16px;
    font-style: italic;
    line-height: 32px;
  }
}