@import "_colors.scss";
@import "_fonts.scss";
@import "_media-queries.scss";
@import "_style-nav.scss";
@import "_style-footer.scss";
@import "_style-index.scss";
@import "_style-list.scss";
@import "_style-not-found.scss";
@import "_style-summary.scss";

::selection { color: $red }
::-moz-selection { color: $red }

body, html {
  color: $black;
  display: grid;
  font-family: $roboto;
  font-size: 16px;
  grid-row-gap: 7.5%;
  grid-template-rows: 70px auto 60px;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  scroll-behavior: smooth;

  @media #{$phone-portrait} {
    grid-row-gap: 8%;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

