{{ define "main" }}
<main class="list" id="content">
    {{ range .Paginator.Pages }}
    {{ .Render "summary" }}
    {{ end }}
    
    <div class="font-16 pagination">
        {{ if .Paginator.HasPrev }}
            <a class="nav fg-bold fg-black bottom-red" href="{{ .Paginator.Prev.URL }}">{{ i18n "june.prev"}}</a>
        {{ else }}
            <a class="nav fg-bold">{{ i18n "june.prev"}}</a>
        {{ end }}
        <span><span class="fg-black fg-bold">{{ .Paginator.PageNumber }}</span> of {{ .Paginator.TotalPages }}</span>
        {{ if .Paginator.HasNext }}
            <a class="nav fg-bold fg-black bottom-red" href="{{ .Paginator.Next.URL }}">{{ i18n "june.next"}}</a>
        {{ else }}
            <a class="nav fg-bold">{{ i18n "june.next"}}</a>
        {{ end }}
    </div>
</main>
{{ end }}