{{ define "main" }}
{{ $cat := "other" }}
{{ with .Params.Categories }}{{ $cat = (index . 0) }}{{ end }}
{{ $catURL := printf "/categories/%s" $cat | urlize | relLangURL }}

<main class="single">
    <h1 class="title">{{ .Title }}</h1>
    <div class="metadata font-16">
        <a class="category" href="{{ $catURL }}">{{ $cat }}</a>
        <span class="middot">&middot;</span>
        <span>{{ .Date | time.Format ":date_medium" }}</span>
        <span class="middot">&middot;</span>
        <span>{{ i18n  "june.reading-time" .ReadingTime }}</span>
    </div>

    <div id="content">
        {{ .Content }}
    </div>
</main>
{{ end }}

{{/* 

<main class="blog single">
    <h1 class="title">{{ .Title }}</h1>
    single
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>


    {{ range .Translations }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }} ({{ i18n "wordCount" . }}){{ end }}</a>
    </li>
    {{ end }}

    {{ i18n "home" }}
</main>
*/}}