{{ define "head" }}
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" as="style" onload="this.onload=null,this.rel='stylesheet'">
<noscript>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap">
</noscript>

{{ $options := (dict "targetPath" "css/single.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "sass/single.scss" | resources.ToCSS $options | minify | fingerprint | resources.PostProcess }}

<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
{{ end }}

{{ define "main" }}
{{ $cat := "other" }}
{{ with .Params.Categories }}{{ $cat = (index . 0) }}{{ end }}
{{ $catURL := printf "/categories/%s" $cat | urlize | relLangURL }}

<main class="single">
    <h1 class="title">{{ .Title }}</h1>
    <div class="metadata font-16">
        <a class="category" href="{{ $catURL }}">{{ $cat }}</a>
        <span class="middot">&middot;</span>
        <span>{{ .Date | time.Format ":date_medium" }}</span>
        <span class="middot">&middot;</span>
        <span>{{ i18n  "june.reading-time" .ReadingTime }}</span>
    </div>

    <div id="content">{{ .Content }}</div>

    <div class="separator">
        <span>&middot;</span>
        <span>&middot;</span>
        <span>&middot;</span>
    </div>
    
    {{/*
    {{- $related := .Site.RegularPages.Related . | first 2 -}}
    {{ with $related }}
        <h2 class="subtitle">Related Articles</h2>
        <div class="related">
            {{ range . }}
            <a class="fg-bold bottom-red" href="{{ .RelPermalink }}">{{.Title}}</a>
            {{ end }}
        </div>
    {{ end }}
    */}}
    {{- partial "support-me.html" . -}}

    <h2 class="subtitle">Drop Your Comments Below</h2>
</main>
{{ end }}

{{ define "script" }}
{{ $options := (dict "outputStyle" "compressed" "minify" true) }}
{{ $js := resources.Get "js/copy.js" | js.Build $options | resources.ExecuteAsTemplate "js/copy.js" . }}
<script defer type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{ end }}