<meta charset="utf-8">
<meta http-equiv="X-UA-Compatbile" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{- with .Site.Author.name }}
<meta name="author" content="{{ . }}" />
{{- end }}

{{- with .Site.Params.June }}
{{- with .canonicalURL }}
<link rel="canonical" href="{{ . }}" />
{{- end }}
{{- with .csp }}
<meta http-equiv="Content-Security-Policy" content="{{ . }}" />
{{- end }}
{{- with .googleSiteVerification }}
<meta name="google-site-verification" content="{{ . }}" />
{{- end }}
{{- with .monetization }}
<meta name="monetization" content="{{ . }}" />
{{- end }}


{{- with .webmention }}
{{- with .LoginURL }}
<link rel="me" href="{{ . }}" />
{{- end }}
{{- with .PingbackURL }}
<link rel="pingback" href="{{ . }}" />
{{- end }}
{{- with .URL }}
<link rel="webmention" href="{{ . }}" />
{{- end }}
{{- end }}
{{- end }}

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />  
<meta property="og:locale" content="{{ .Site.Params.Locale }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{- with .Title }}
  {{- if (ne $.Site.Title .)}}
  <title>{{ $.Site.Title }} - {{ . }}</title>
  {{- else }}
  <title>{{ . }}</title>
  {{- end }}
{{- end}}

{{ $options := (dict "targetPath" "css/style.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "sass/style.scss" | resources.ToCSS $options | fingerprint }}

<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end }}

<link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap" as="style" onload="this.onload=null,this.rel='stylesheet'">
<noscript>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap">
</noscript>