<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatbile" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{- with .Site.Params.June }}
  {{- if .csp }}
  <meta http-equiv="Content-Security-Policy" content="{{ .csp }}">
  {{- end }}
  {{- if .author }}
  <meta name="author" content="{{ .author }}" />
  {{- end }}
  {{- if .googleSiteVerification }}
  <meta name="google-site-verification" content="{{ .googleSiteVerification}}" />
  {{- end }}
  {{- if .monetization }}
  <meta name="monetization" content="{{ .monetization }}" />
  {{- end }}
  {{- end }}

  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />  
  <meta property="og:locale" content="{{ .Site.Params.Locale }}" />
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  
  {{- with .Title }}
    {{- if (ne $.Site.Title .)}}
    <title>{{ $.Site.Title }} - {{ . }}</title>
    {{- else }}
    <title>{{ . }}</title>
    {{- end }}
  {{- end}}

  {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
  {{ $style := resources.Get "sass/style.scss" | resources.ToCSS $options | minify | fingerprint | resources.PostProcess }}

  <link rel="preload" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
  </noscript>

  {{- with .Site.GoogleAnalytics }}
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  {{- end }}
</head>