<nav class="fg-bold">
    <a id="skip-to-content" href="#content">Skip to content</a>
    <ul id="menu">
    {{- $thisURL := .RelPermalink | relLangURL -}}
    {{- $csURL := .CurrentSection.RelPermalink | relLangURL -}}

    {{- range .Site.Menus.main -}}
    {{- $url := .URL | relLangURL -}}

    {{- if (or (eq $thisURL $url) (eq $csURL $url)) -}}
    <li><a class="active" href="{{ $url }}">{{ .Name }}</a></li>
    {{- else -}}
    <li><a  href="{{ $url }}">{{ .Name }}</a></li>
    {{- end -}}
    {{- end -}}
    </ul>
</nav>