{{- $paths := slice -}}
{{ range .Site.Params.June.Support }}
    {{ $c := printf "<a rel=\"noreferrer noopener\" target=\"_blank\" class=\"fg-bold bottom-red\" href=\"%s\">%s</a>" .URL .Name }}
    {{ $paths = $paths | append $c }}
{{ end }}

{{- $wm := "" -}}
{{ with .Site.Params.June.Webmention }}
{{ $wm = i18n "june.webmention-text" | safeHTML }}
{{ end }}

{{- $p := "" -}}
{{ with $paths }}
{{ $p = i18n "june.support-text" (delimit $paths ", ") | safeHTML }}
{{ end }}

<h2 class="subtitle">{{ i18n "june.love-this-content" }}</h2>
<div class="fg-light support-me">{{ i18n "june.support-text-default" }} {{ $p }} {{ $wm }}</div>