{{ define "main" }}
<main class="index" id="content">
    <div class="introduction" id="hi">{{ i18n "june.hi" }}</div>
    <div class="introduction {{ if (eq .Site.Language.Lang "ja") }} reverse {{ end }}" id="name">
        <span class="introduction" id="im">{{ i18n "june.im" }}</span>
        <span class="introduction" id="author"> {{ .Site.Params.June.Author }} </span>
    </div>
    {{ range (index .Site.Data .Lang).june.intro }}
        <div class="introduction md">{{ . | markdownify }}</div>
    {{ end }}

    <div class="introduction" id="reach-me-on"> {{ i18n "june.reach-me-on" }}</div>
    <div class="introduction" id="contact-list">
    {{ range .Site.Params.June.Contact }}
        <a rel="noopener" href="{{ .URL }}" target="_blank">{{ .Name }}</a>
    {{ end }}
    </div>
</main>
{{ end }}