{{ define "head"}}
{{ $options := (dict "targetPath" "css/index.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "sass/index.scss" | resources.ToCSS $options | fingerprint }}

<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>

{{ end }}
{{ define "main" }}
<main class="index" id="content">
    <div class="introduction fg-light" id="hi">{{ i18n "june.hi" }}</div>
    <div class="introduction {{ if (eq .Site.Language.Lang "ja") }} reverse {{ end }}" id="name">
        <span class="introduction" id="im">{{ i18n "june.im" }}</span>
        <span class="introduction fg-bold" id="author"> {{ .Site.Params.Author.name }} </span>
    </div>

    <p>
    {{ range (index .Site.Data .Lang).june.intro }}
        <span class="introduction md">{{ . | markdownify }}</span>
    {{ end }}
    </p>

    <div class="introduction fg-light" id="reach-me-on"> {{ i18n "june.reach-me-on" }}</div>
    <div class="introduction" id="contact-list">
    {{ range .Site.Params.June.Contact }}
        <a class="bottom-red fg-bold" rel="noreferrer noopener" href="{{ .URL }}" target="_blank">{{ .Name }}</a>
    {{ end }}
    </div>
</main>
{{ end }}
